{% extends "admin/base.j2" %}
{% from "macros/form.j2" import base, btn, render_field_errors %}
{%- from "macros/user_menu.j2" import render_user_menu -%}

{% block admin_content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Левое меню -->
      {{ render_user_menu(user_menu) }}

      <!-- Основной контент -->
      <main class="col-lg-9 ml-auto px-4">
        <h1>{{ course.title }}</h1>
        <p>{{ course.about }}</p>
        <!-- Module start -->
        {% for module in course.modules %}
          <div class="container mb-5">
            <h2>{{ module.title }}
            </h2>
            <p> {{ module.description }}</p>
            <!-- Lesson start -->
            {% for lesson in module.lessons %}
              <div class="container mb-5">
                <h4>{{ lesson.title }}</h4>
                <p>{{ lesson.description }}</p>
                <!-- Carousel Start -->
                  <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
                    {% if lesson.photos %}
                    <div class="container mb-5">
                      <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          {% for photo in lesson.photos %}
                          <div class="carousel-item {% if loop.first %}active{% endif %}">
                            {{ picture(
                              class_name='img-fluid',
                              file_name='upload/' ~ photo.filename,
                              alt='Изображение для курсов %s' % photo.filename,
                              width=560,
                              height=400,
                              bp_tablet=834,
                              width_tablet=560,
                              height_tablet=400,
                              bp_desktop=1440,
                              width_desktop=560,
                              height_desktop=400
                            ) }}
                          </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                    {% else %}
                    <p>В этом уроке нет фотографий</p>
                    {% endif %}
                  </div>
                <!-- Carousel End -->
                <!-- Video start -->
                {% if lesson.video_url %}
                  <div class="container mb-5">
                    {% if 'youtube.com' in lesson.video_url %}
                      {% set video_id = lesson.video_url.split('v=')[-1].split('&')[0] %}
                      <lite-youtube videoid="{{ video_id }}" style="width: 100%; height: 500px;"></lite-youtube>

                    {% elif 'youtu.be' in lesson.video_url %}
                      {% set video_id = lesson.video_url.split('/')[-1] %}
                      <lite-youtube videoid="{{ video_id }}" style="width: 100%; height: 500px;"></lite-youtube>

                    {% elif 'kinescope.io' in lesson.video_url %}
                      {% set video_id = lesson.video_url.split('/')[-1] %}
                      <iframe
                        src="https://kinescope.io/embed/{{ video_id }}"
                        width="100%"
                        height="500"
                        frameborder="0"
                        allowfullscreen>
                      </iframe>
                    {% endif %}
                  </div>
                {% endif %}
                <!-- Video end -->
                <!-- File start -->
                <div class="lesson-file">
                  {% if lesson.file %}
                    <h6>Файл урока:
                      <a href="{{ url_for('static', filename='upload/' ~ lesson.file) }}" download="{{ lesson.file }}">
                        {{ lesson.file }}
                      </a>
                    </h6>
                    {% if lesson.file.endswith('.pdf') %}
                      <iframe src="{{ url_for('static', filename='upload/' ~ lesson.file) }}" width="100%" height="500px">
                        Ваш браузер не поддерживает предварительный просмотр PDF. Вы можете
                        <a href="{{ url_for('static', filename='upload/' ~ lesson.file) }}" download="{{ lesson.file }}">
                          скачать файл здесь
                        </a>.
                      </iframe>
                    {% elif lesson.file.endswith('.jpg') or lesson.file.endswith('.png') or lesson.file.endswith('.jpeg') %}
                      <img src="{{ url_for('static', filename='upload/' ~ lesson.file) }}" alt="Предварительный просмотр файла" class="img-fluid">
                    {% else %}
                      <p>Файл доступен для скачивания.</p>
                    {% endif %}
                  {% endif %}
                </div>
                <!-- File end -->
              </div>
            {% endfor %}
            <!-- Lesson end -->
          </div>
        {% endfor %}
        <!-- Module end -->
      </main>
    </div>
  </div>


{% endblock admin_content%}
