{% extends "base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block content %}
<!-- About Course Start -->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h6 class="text-primary text-uppercase mb-2">Ювелирный мастер-класс</h6><!-- подумать как переделать это элемент на категорию -->
            <h1 class="display-6 mb-4">{{ course.title }}</h1>
            <p>{{ course.about }}</p>
            <div class="row g-4">
              <div class="col-sm-6">
                <a class="btn btn-primary py-3 px-5" href="#consultation">Записаться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.preview_photo) }}"  alt="{{ course.title }}" style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Course End -->
  <!-- Course Informtion Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h1 class="display-6 mb-4">{{ course.learning_process_title }}</h1>
            <p>{{ course.learning_process_description }}</p>
          </div>
         </div>
      </div>
    </div>
  </div>
  <!-- Course Informtion End-->
  <!-- Feature Course Start-->
  {% if course.features_description %}
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-4"> {{ course.features_title }} </h1>
          <div class="row gy-5 gx-4">
            <p>{{ course.features_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Feature Course End-->
   <!-- Course Skills Start-->
  {% if course.skills_description %}
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
             <h1 class="display-6 mb-4">{{ course.skills_title }}</h1>
             <div class="container-fluid facts py-5">
               <div class="container py-5">
                 <div class="row gx-0">
                   <p>{{ course.skills_description }}</p>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Course Skills End-->
  <!-- Course Students Start-->
  {% if course.student_works %}
    <div class="container-xxl py-4">
      <div class="container">
        <div class="row g-5">
          <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4">Работы учеников</h1>
            <p>Во время курса вы сделаете несколько работ и сможете добавить их в портфолио</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
              <div class="owl-carousel workphoto-carousel">
                {% for student_work in course.student_works %}
                  <div class="workphoto-item text-center">
                    <div class="position-relative mb-5">
                      <img class="img-fluid mx-auto" src="{{ url_for('static', filename='upload/' + student_work.photo) }}" alt="{{ student_work.title }}">
                    </div>
                    <h5>{{ student_work.title }}</h5>
                    <span>{{ student_work.description }}</span>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Course Students End-->
    <!-- Course Promo Start-->
  {% if course.promos %}
    <div class="container-xxl promo my-4 py-4">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-10 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
              <!-- Отображаем первую акцию -->
              <h1 class="display-12 mb-4">{{ course.promos[0].title }}</h1>
              <p>{{ course.promos[0].description }}</p>
              <div class="col-sm-6">
                <a class="btn btn-primary py-3 px-5" href="#consultation">Записаться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Course Promo End-->
   <!-- Start Registration Form -->
    <div class="container-xxl py-6" id="consultation">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <h6 class="text-danger text-uppercase mb-2">Напишите нам</h6>
            <h1 class="display-6 mb-4">Получить бесплатную консультацию по курсу</h1>
            <form action="{{ url_for('course.course_details', course_id=course.id) }}" id="registration" method="post" novalidate>
              <div class="row g-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="form_name" value="registration"> <!-- Скрытое поле для идентификации формы -->
                {{ input_form_6(registration_form.name) }}
                {{ input_form_6(registration_form.email) }}
                {{ input_form_12(registration_form.message, style="height: 150px") }}

                <!-- Honeypot поле -->
                <input type="text" name="hidden_field" style="display:none;" autocomplete="off">

                <!-- Скрытое поле для временной метки -->
                <input type="hidden" id="form_time" name="form_time" value="">

                <div class="col-12">
                  <button class="btn btn-danger py-3 px-5" type="submit">Отправить сообщение</button>
                </div>
              </div>
            </form>
            <div class="col-12 mt-3">
            <a href="{{ url_for('core.page', page_name='privacy' )}}">*Политика конфиденциальности</a>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.registration_photo) }}"  alt="" style="object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Registration Form -->
    <!-- About Master Start-->
    <div class="container-xxl py-4">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.artist_photo) }}"  alt="" style="object-fit: cover;">
              {% if course.artist_photo_preview %}
                <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ url_for('static', filename='upload/' ~ course.artist_photo_preview) }}"  alt="" style="width: 200px; height: 200px;">
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
              <h6 class="text-primary text-uppercase mb-2">О преподавателе</h6>
               <h1 class="display-6 mb-4">{{ course.artist_title }}</h1>
               <p>{{ course.artist_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- About Master End-->
  <!-- Photo Masters Product Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6 mb-4">Работы мастера</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
            <div class="owl-carousel workphoto-carousel">
              {% for artist in course.artists %}
                {% for artistwork in artist.works %}
                  <div class="workphoto-item text-center">
                    <div class="position-relative mb-5">
                      <img class="img-fluid mx-auto" src="{{ url_for('static', filename='upload/' + artistwork.photo) }}" alt="{{ artistwork.title }}">
                    </div>
                    <h5>{{ artistwork.title }}</h5>
                    <p>{{ artistwork.description }}</p>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Photo Masters Product End-->
  <!-- Prise Start-->
  <div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
      <div class="row g-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h6 class="text-primary text-uppercase mb-2">Ювелирный мастер-класс</h6>
          <h1 class="display-12 mb-4">Стоимость мастер-класса</h1>
        </div>

        <!-- Тарифы Start -->
        <div class="row g-4 justify-content-center">
          {% for tariff in course.tariffes %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                  <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">
                    ${{ tariff.price|round }}
                  </div>
                  <h5 class="mb-3">{{ tariff.title }}</h5>
                  <p>{{ tariff.description }}</p>
                  <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Для начинающих</li>
                    <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>2 часа</li>
                  </ol>
                </div>
                <div class="position-relative mt-auto">
                  <img class="img-fluid" src="{{ url_for('static', filename='upload/' + tariff.photo) }}" alt="">
                  <div class="courses-overlay">
                    <a class="btn btn-outline-primary border-2" href="#chek_in">Начать</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Тарифы End -->

        <!-- Форма регистрации Start -->
        {% if not current_user.is_authenticated %}
        <div class="row g-5 mb-5">
          <div class="text-center mx-auto mb-3 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h6 class="text-primary text-uppercase mb-2">Регистрация и оплата</h6>
            <h1 class="display-12 mb-4">Оформление заявки</h1>
            <p>Чтобы записаться на курс или мастер-класс, войдите в личный кабинет или зарегистрируйтесь. После этого станет доступна форма для подачи заявки.</p>
          </div>
          <div class="error-actions d-flex flex-wrap gap-2 justify-content-center">
            <a href="{{ url_for('security.login') }}" class="btn btn-primary py-4 px-lg-5 d-lg-block">Войти
            <i class="fa fa-arrow-right ms-3"></i></a>
            <a href="{{ url_for('security.register') }}" class="btn btn-primary py-4 px-lg-5 d-lg-block">Регистрация
            </a>
          </div>
        </div>
        {% else %}
        <div class="row justify-content-center mt-5">
          <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s" id="chek_in">
            <div class="bg-primary text-center p-5">
              <h1 class="mb-4">Записаться и оплатить</h1>
              <form action="{{ url_for('course.course_details', course_id=course.id) }}" id="payment" method="post" novalidate>
                <div class="row g-3">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                   <input type="hidden" name="form_name" value="payment"> <!-- Скрытое поле для идентификации формы -->
                  {{ input_form_12(payment_form.course_title) }}
                  {{ input_form_12(payment_form.price) }}

                  <!-- Honeypot поле -->
                  <input type="text" name="hidden_field" style="display:none;" autocomplete="off">

                  <!-- Скрытое поле для временной метки -->
                  <input type="hidden" id="form_time" name="form_time" value="">

                  <div class="col-md-12 text-center">
                    <div class="form-control border-0 bg-light">
                      <label class="form-label">Способ оплаты</label>
                      <div class="d-flex justify-content-center gap-5">
                        {% for subfield in payment_form.payment_method %}
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              id="payment-{{ subfield.data }}"
                              name="{{ subfield.name }}"
                              value="{{ subfield.data }}"
                              {% if subfield.checked %}checked{% endif %}
                            >
                            <label class="form-check-label" for="payment-{{ subfield.data }}">
                              {{ subfield.label.text }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-dark w-100 py-3" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 mt-3">
              <a href="{{ url_for('core.page', page_name='privacy')}}">*Политика конфиденциальности</a>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Форма регистрации End -->

      </div>
    </div>
  </div>
  <!-- Prise End-->

{% endblock content %}

{% block js %}
<script>
 //Timer
    var timer;
    const timerKey = 'promoEndDate';
    let promoDayEnd = 5; // Изменение этой переменной автоматически меняет время акции

    function setNewEndDate() {
      let newEndDate = new Date();
      newEndDate.setDate(newEndDate.getDate() + promoDayEnd);
      localStorage.setItem(timerKey, newEndDate.toISOString());
      return newEndDate;
    }

    function getOrSetEndDate() {
      let endDate = localStorage.getItem(timerKey);
      if (endDate) {
        endDate = new Date(endDate);
        if (new Date() >= endDate) {
          // If the stored date has passed, set a new date
          endDate = setNewEndDate();
        }
      } else {
        // If there is no stored date, set a new date
        endDate = setNewEndDate();
      }
      return endDate;
    }

    function updateCompareDate() {
      compareDate = getOrSetEndDate();
    }

    function timeBetweenDates(toDate) {
      var dateEntered = toDate;
      var now = new Date();
      var difference = dateEntered.getTime() - now.getTime();

      if (difference <= 0) {
        // Timer done, set new end date and reset the timer
        toDate = setNewEndDate();
        difference = toDate.getTime() - now.getTime();
      }

      var seconds = Math.floor(difference / 1000);
      var minutes = Math.floor(seconds / 60);
      var hours = Math.floor(minutes / 60);
      var days = Math.floor(hours / 24);

      hours %= 24;
      minutes %= 60;
      seconds %= 60;

      $("#days").text(days);
      $("#hours").text(hours);
      $("#minutes").text(minutes);
      $("#seconds").text(seconds);

      return toDate; // Возвращаем обновленную дату
    }

    $(document).ready(function() {
      let compareDate = getOrSetEndDate();

      timer = setInterval(function() {
        compareDate = timeBetweenDates(compareDate);
      }, 1000);

      // Обработчик изменения promoDayEnd
      $('#promoDayEndInput').change(function() {
        promoDayEnd = parseInt($(this).val(), 10); // Парсим новое значение
        localStorage.setItem('promoDayEnd', promoDayEnd); // Сохраняем новое значение в localStorage
        updateCompareDate(); // Обновляем compareDate
      });
    });

</script>
{% endblock js %}
