{% extends "base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block content %}
<!-- About Course Start -->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h6 class="text-primary text-uppercase mb-2">Ювелирный мастер-класс</h6><!-- подумать как переделать это элемент на категорию -->
            <h1 class="display-6 mb-4">{{ course.title }}</h1>
            <p>{{ course.about }}</p>
            </div>
            <div class="row g-4">
              <div class="col-sm-6">
                <a class="btn btn-primary py-3 px-5" href="#consultation">Записаться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.preview_photo) }}"  alt="{{ course.title }}" style="object-fit: cover;">
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- About Course End -->
  <!-- Course Informtion Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h1 class="display-6 mb-4">{{ course.learning_process_title }}</h1>
            <p>{{ course.learning_process_description }}</p>
            </div>
         </div>
       </div>
    </div>
  </div>
  <!-- Course Informtion End-->
  <!-- Feature Course Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-4"> {{ course.features_title }} </h1>
          <div class="row gy-5 gx-4">
            {{ course.features_description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature Course End-->
   <!-- Course Skills Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
             <h1 class="display-6 mb-4">{{ course.skills_title }}</h1>
             <div class="container-fluid facts py-5">
              <div class="container py-5">
                <div class="row gx-0">
                  <p>{{ course.skills_description }}</p>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Course Skills End-->
  <!-- Course Students Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6 mb-4">Работы учеников</h1>
          <p>Во время курса вы сделаете несколько работ и сможете добавить их в портфолио</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
            <div class="owl-carousel workphoto-carousel">
              {% for student_work in course.student_works %}
                <div class="workphoto-item text-center">
                  <div class="position-relative mb-5">
                    <img class="img-fluid mx-auto" src="{{ url_for('static', filename='upload/' + student_work.photo) }}" alt="{{ student_work.title }}">
                  </div>
                  <h5>{{ student_work.title }}</h5>
                  <span>{{ student_work.description }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Course Students End-->
    <!-- Course Promo Start-->
  <div class="container-xxl promo my-4 py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-10 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
          {% if course.promos %}
            <!-- Отображаем первую акцию -->
            <h1 class="display-12 mb-4">{{ course.promos[0].title }}</h1>
            <p>{{ course.promos[0].description }}</p>
          {% else %}
            <h1 class="display-12 mb-4">Для этого курса нет акции</h1>
          {% endif %}
          <div class="col-sm-6">
            <a class="btn btn-primary py-3 px-5" href="#consultation">Записаться</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Course Promo End-->
   <!-- Start Registration Form -->
    <div class="container-xxl py-6" id="consultation">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <h6 class="text-danger text-uppercase mb-2">Напишите нам</h6>
            <h1 class="display-6 mb-4">Записаться на курс или получить бесплатную консультацию по курсу</h1>
            <form action="{{ url_for('course.course_details', course_id=course.id) }}" method="post" novalidate>
              <div class="row g-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {{ input_form_6(form.name) }}
                {{ input_form_6(form.email) }}
                {{ input_form_12(form.message, style="height: 150px") }}
                <div class="col-12">
                  <button class="btn btn-danger py-3 px-5" type="submit">Отправить сообщение</button>
                </div>
              </div>
            </form>
            <div class="col-12 mt-3">
            <a href="{{ url_for('core.page', page_name='privacy' )}}">*Политика конфиденциальности</a>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.registration_photo) }}"  alt="" style="object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Registration Form -->
    <!-- About Master Start-->
    <div class="container-xxl py-4">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='upload/' ~ course.artist_photo) }}"  alt="" style="object-fit: cover;">
              <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ url_for('static', filename='upload/' ~ course.artist_photo_preview) }}"  alt="" style="width: 200px; height: 200px;">
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
              <h6 class="text-primary text-uppercase mb-2">О преподавателе</h6>
               <h1 class="display-6 mb-4">{{ course.artist_title }}</h1>
               <p>{{ course.artist_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- About Master End-->
  <!-- Photo Masters Product Start-->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6 mb-4">Работы мастера</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
            <div class="owl-carousel workphoto-carousel">
              {% for artist in course.artists %}
                {% for artistwork in artist.works %}
                  <div class="workphoto-item text-center">
                    <div class="position-relative mb-5">
                      <img class="img-fluid mx-auto" src="{{ url_for('static', filename='upload/' + artistwork.photo) }}" alt="{{ artistwork.title }}">
                    </div>
                    <h5>{{ artistwork.title }}</h5>
                    <p>{{ artistwork.description }}</p>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Photo Masters Product End-->
  <!-- Prise Start-->
  <div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
      <div class="row g-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h6 class="text-primary text-uppercase mb-2">Ювелирный мастер-класс</h6>
          <h1 class="display-12 mb-4">Стоимость мастер-класса</h1>
        </div>
        <div class="row g-4 justify-content-center">
          {% for tariff in course.tariffes %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                  <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">${{ tariff.price|round }}</div>
                  <h5 class="mb-3">{{ tariff.title }}</h5>
                  <p>{{ tariff.description }}</p>
                  <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Для начинающих</li>
                    <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>2 часа</li>
                  </ol>
                </div>
                <div class="position-relative mt-auto">
                  <img class="img-fluid" src="{{ url_for('static', filename='upload/' + tariff.photo) }}"  alt="">
                  <div class="courses-overlay">
                    <a class="btn btn-outline-primary border-2" href="#chek_in">Начать</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- Course Registration Start-->
          <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s" id="chek_in">
            <div class="bg-primary text-center p-5">
              <h1 class="mb-4">Записаться на мастер-класс</h1>
              <form action="{{ url_for('course.course_details', course_id=course.id) }}" method="post" novalidate>
              <div class="row g-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {{ input_form_6(form.name) }}
                {{ input_form_6(form.email) }}
                {{ input_form_12(form.message, style="height: 150px") }}
                <div class="col-12">
                  <button class="btn btn-dark w-100 py-3" type="submit">Отправить</button>
                </div>
              </div>
            </form>
            </div>
            <div class="col-12 mt-3">
            <a href="{{ url_for('core.page', page_name='privacy')}}">*Политика конфиденциальности</a>
          </div>
          </div>
          <!-- Course Registration End-->
        </div>
      </div>
    </div>
  </div>
  <!-- Prise End-->

{% endblock content %}
