{% extends "base.j2" %}
{% from "macros/picture.j2" import picture %}

{% block content %}
  <div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Популярные курсы</h6>
        <h1 class="display-6 mb-4">Наши курсы помогут вам раскрыть свой творческий потенциал</h1>
      </div>
      <div class="row g-4 justify-content-center">
      {% for category in categories %}
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
      </div>
        {% for course in courses %}
        {% if course.category_id == category.id %}
            <div class="col-lg-4 col-md-6 mb-5 wow fadeInUp" data-wow-delay="0.1s">
              <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                  <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">{{ course.price }}</div>
                  <h5 class="mb-3">{{ course.name }}</h5>
                  <p>{{ course.description }}</p>
                  <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>{{ course.level }}</li>
                    <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>{{ course.duration }}</li>
                  </ol>
                </div>
                <div class="position-relative mt-auto">
                  {{ picture(
                    class_name='img-fluid',
                    file_name='upload/' ~ course.image,
                    alt='Изображение для курсов %s' % course.name,
                    width=300,
                    height=300,
                    bp_tablet=834,
                    width_tablet=400,
                    height_tablet=400,
                    bp_desktop=1440,
                    width_desktop=500,
                    height_desktop=500
                  ) }}
                  <div class="courses-overlay">
                    <a class="btn btn-outline-primary border-2" href="{{ url_for('course.course_details', course_id=course.id) }}">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif%}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
