{% extends "admin/base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block admin_content %}
  <form action="{{ url_for('admin_courses.add_category') }}" method="post" enctype="multipart/form-data">
    <h1>Добавление категории</h1>
    <div class="row g-3">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {{ input_form_6(form.title) }}
      {{ input_form_6(form.alias) }}
      {{ input_form_12(form.photo) }}
      {{ input_form_12(form.description, style="height: 150px") }}
      {{ btn(form.submit, value="Отправить") }}
      <p><a class="btn btn-secondary" href="{{ url_for('admin_courses.index') }}">Вернуться</a></p>
    </div>
  </form>
{% endblock admin_content %}
