{% extends "admin/base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block admin_content %}
  <form action="{{ url_for('admin_courses.edit_studentwork', studentwork_id=studentwork.id) }}" method="post" enctype="multipart/form-data">
  <h1>Изменение работы студента</h1>
    <div class="row g-3">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {{ input_form_6(form.course_id) }}
      {{ input_form_6(form.name) }}
      {{ input_form_12(form.description, style="height: 150px") }}
      {{ input_form_12(form.photo) }}
      {{ btn(form.submit, value="Отправить") }}
    </div>
  </form>
  <h2>Список работ всех студентов</h2>
  <ul>
    {% for studentwork in studentworks %}
      <li><a href="{{ url_for('admin_courses.edit_studentwork', studentwork_id=studentwork.id) }}">{{ studentwork.name }} </a>
      <a href="{{ url_for('admin_courses.delete_studentwork', studentwork_id=studentwork.id) }}" onclick="return confirm('Вы уверены, что хотите удалить эту работу студента?');">Удалить</a>
      </li>
    {% endfor %}
  </ul>
{% endblock admin_content %}
