{% extends "admin/base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block admin_content %}
  <form class="row g-3" action="{{ url_for('admin_courses.edit_course', course_id=course_id) }}" method="post">
    <h1>Редактирование курса</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ input_form_6(form.category_id) }}
    {{ input_form_6(form.name) }}
    {{ input_form_6(form.alias) }}
    {{ input_form_12(form.description, style="height: 150px") }}
    {{ btn(form.submit, value="Изменить") }}
    <p><a class="btn btn-secondary" href="{{ url_for('admin_courses.index') }}">Вернуться</a></p>
  </form>
{% endblock admin_content %}
