{% extends "admin/base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}
{% from "macros/pictures.j2" import display_image %}

{% block admin_content %}
  <div class="container mb-4">
    <a href="{{ url_for('admin_courses.index') }}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> На главную
    </a>
    <a href="{{ url_for('admin_courses.add_course') }}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> Назад к добавлению курса
    </a>
    <a class="btn btn-outline-primary" href="{{ url_for('admin_courses.help') }}">Инструкция по заполнению курса</a>
  </div>
  <div class="container mb-4">
    <form class="row g-3" action="{{ url_for('admin_courses.edit_course', course_id=course_id) }}"
      method="post" enctype="multipart/form-data">
      <h1>Редактирование курса</h1>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      {{ input_form_6(form.category_id) }}
      {{ input_form_6(form.title) }}
      {{ input_form_6(form.alias) }}
      {{ input_form_12(form.preview_description) }}

      {{ input_form_12(form.preview_photo, id="image_input", data_input="image_input") }}
      {{ display_image(preview_photo, course.title, "image_input") }}
      <label for="show_on_homepage">
          {{ form.show_on_homepage }} {{ form.show_on_homepage.label.text }}
      </label>
      <label for="popular">
          {{ form.popular }} {{ form.popular.label.text }}
      </label>
      {{ input_form_12(form.homepage_photo, id="homepage_photo_input", data_input="homepage_photo_input") }}
      {{ display_image(homepage_photo, course.title, "homepage_photo_input") }}
      {{ input_form_12(form.level) }}
      {{ input_form_12(form.duration) }}
      {{ input_form_12(form.about, style="height: 150px") }}

      {{ input_form_12(form.about_photo, id="about_photo_input", data_input="about_photo_input") }}
      {{ display_image(about_photo, course.title, "about_photo_input") }}

      {{ input_form_12(form.learning_process_title) }}
      {{ input_form_12(form.learning_process_description, style="height: 150px") }}
      {{ input_form_12(form.features_title) }}
      {{ input_form_12(form.features_description, style="height: 150px") }}
      {{ input_form_12(form.skills_title) }}
      {{ input_form_12(form.skills_description, style="height: 150px") }}

      <h2>Работы студентов</h2>
      <ul>
      {% for student_work in student_works %}
        <li>
          <a href="{{ url_for('admin_courses.edit_studentwork', studentwork_id=student_work.id) }}">
              <h6>{{ student_work.title }}</h6>
              <img src="{{ url_for('static', filename='upload/' + student_work.photo) }}" alt="{{ student_work.title }}" width="100" height="100">
          </a>
          <a href="{{ url_for('admin_courses.delete_studentwork', studentwork_id=student_work.id) }}" class="btn btn-outline-primary btn-sm" onclick="return confirm('Вы уверены, что хотите удалить эту работу студента?');">Удалить</a>
        </li>
      {% endfor %}
      </ul>

      {{ input_form_12(form.registration_form, style="height: 150px") }}

      {{ input_form_12(form.registration_photo, id="registration_photo_input", data_input="registration_photo_input") }}
      {{ display_image(registration_photo, course.title, "registration_photo_input") }}

      {{ input_form_12(form.artist_photo, id="artist_photo_input", data_input="artist_photo_input") }}
      {{ display_image(artist_photo, course.title, "artist_photo_input") }}

      {{ input_form_12(form.artist_photo_preview, id="artist_photo_preview_input", data_input="artist_photo_preview_input") }}

      {{ input_form_12(form.artist_title)}}
      {{ input_form_12(form.artist_description, style="height: 150px") }}

      <!-- Вывод всех работ мастера курса -->
      <h2>Работы мастеров</h2>
      <ul>
          {% for artist in artists %}
              <li>
                  {{ loop.index }}
                  <h6>{{ artist.user.first_name }}</h6>

                  <!-- Ссылка для удаления мастера из курса -->
                  <a href="{{ url_for('admin_courses.remove_artist_from_course', course_id=course_id, artist_id=artist.id) }}"
                    class="btn btn-outline-primary btn-sm"
                    onclick="return confirm('Вы уверены, что хотите удалить мастера из курса?');">
                    Удалить из курса
                  </a>

                  {% for artistwork in artist.works %}  {# Добавлен вложенный цикл для работ мастера #}
                      <a href="{{ url_for('admin_courses.edit_artistwork', artistwork_id=artistwork.id) }}">
                          <p>{{ artistwork.title }}</p>
                          <p>{{ artistwork.description }}</p>
                          <img src="{{ url_for('static', filename='upload/' + artistwork.photo) }}" alt="{{ artistwork.title }}" width="100">
                      </a>
                      <a href="{{ url_for('admin_courses.delete_artistwork', artistwork_id=artistwork.id) }}" class="btn btn-outline-primary btn-sm" onclick="return confirm('Вы уверены, что хотите удалить эту работу мастера?');">Удалить</a>
                  {% endfor %}
              </li>
          {% endfor %}
      </ul>


      {{ input_form_12(form.price, style="height: 150px") }}

      <h2>Список тарифов</h2>
        <ul>
          {% for tariff in course.tariffes %}
            <li><a href="{{ url_for('admin_courses.edit_tariff', tariff_id=tariff.id) }}">{{ tariff.title }} </a>
              <a href="{{ url_for('admin_courses.delete_tariff', course_id=course.id, tariff_id=tariff.id) }}" onclick="return confirm('Вы уверены, что хотите удалить этот тариф?');">Удалить</a>
            </li>
            {% else %}
          <li>Для этого курса нет выбранных тарифов.</li>
          {% endfor %}
        </ul>

      <h2>Список всех акций</h2>
        <ul>
          {% for promo in course.promos %}
            <li><a href="{{ url_for('admin_courses.edit_promo', promo_id=promo.id) }}">{{ promo.title }} </a>
              <a href="{{ url_for('admin_courses.delete_promo', promo_id=promo.id) }}" onclick="return confirm('Вы уверены, что хотите удалить эту акцию?');">Удалить</a>
            </li>
            {% else %}
          <li>Для этого курса нет доступных акций.</li>
          {% endfor %}
        </ul>
      {{ input_form_12(form.start_date) }}
      {{ input_form_12(form.end_date) }}
      {{ input_form_12(form.modules, style="height: 100px")}}
      {{ btn(form.submit, value="Изменить") }}
    </form>
  </div>
  <div class="container mb-4">
   <a href="{{ url_for('admin_courses.index') }}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> На главную
    </a>
    <a href="{{ url_for('admin_courses.add_course') }}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> Назад к добавлению курса
    </a>
  </div>
{% endblock admin_content %}
