{% extends "admin/base.j2" %}
{% from "macros/form.j2" import btn, input_form_6, input_form_12 %}

{% block admin_content %}
  <h1>Инструкция по заполнению курса:</h1>
  <h4>Обязательные пункты:</h4>
  <p>Все фото обязательны к заполнению. При изменении курса фотографии можно не обновлять.
  Дата старта и окончания курса обязательны к заполнению при добавлении и изменении курса.</p>
  <ol>
    <li>
      <p>Выбираете категорию, в какой будет относиться курс. Например Ювелирный, Керамический, и пр. Если это новый курс
      и категории еще не создано, нужно сначала добавить новую категорию Cсылка, а потом добавлять новый курс.</p>
    </li>
    <li>
      <p>Название курса может быть призвольным</p>
    </li>
    <li>
      <p>Alias обязательный, латинскими буквами, отражающий название курса</p>
    </li>
    <li>
      <p>Краткое описание курса. Будет отображаться в карточке курса в разделе курсы Cсылка. Также это описание
      будет в карточке популярных курсов на главной странице.</p>
    </li>
    <li>
      <p>Фотография к краткому описанию курса. Фото для карточки курса в раделе курсы Cсылка.
      Также это фото будет в карточке популярных курсов на главной странице, если курс будет выбран в качестве популярного.</p>
    </li>
    <li>
      <p>Уровень сложности - заполняется произвольно.</p>
    </li>
    <li>
      <p>Продолжительность курса - от 1 дня до года, заполняется произвольно.</p>
    </li>
    <li>
      <p>Стоимость курса. Указаывается в карточке курса, на красном фоне.</p>
    </li>
    <li>
      <p>Показывать на главной - если ставите галочку то этот курс будет в шапке на главной, в hero блоке.</p>
    </li>
    <li>
      <p>Популярный курс - если ставите галочку то будет означать что курс будет в списке популярных курсов на главной
      странице, а также в подвале сайта Footer.</p>
    </li>
    <li>
      <p>Фотография для главной страницы. нужно загрузить фото, и если курс будет показываться на главной,
      то это фото будет в карусели на главной странице, в шапке.</p>
    </li>
    <li>
      <p>Далее начинаеются разделы с описанием курса. Это то что пользователь увидит, когда откроет страницу курса.
      Или когда на карточке курса кликнет кнопку подробнее. Описание курса. Здесь вы заполняете блок с описанием курса,
      который будет первый на странице, сразу после заголовка с названием курса. Можно добавить насколько абзацев, внизу
      будет кнопка Записаться.</p>
    </li>
    <li>
      <p>Фотография к описанию курса. Фото находится справа от описания курса, должно цеплять и характеризовать тему курса.</p>
    </li>
    <li>
      <p>Процесс обучения. заголовок будет выделен жирным шрифтом. Описание: тут пишете текст, произвольно, можно разделять
      на абзацы тегом <code>&lt;p&gt;</code>Выбранный текст с большой буквы<code>&lt;/p&gt;</code>.</p>
    </li>
    <li>
      <p>Преимущества. Заголовок будет выделен жирным шрифтом. Сами преимущества можно добавить в
      разметку, которая находится в описании. <code>&lt;h5&gt;</code> - заголовок карточки, <code>&lt;span&gt;</code> -
      описание. Количество карточек - кратно двум: 2/4/6.</p>
    </li>
    <li>
      <p>Чему вы научитесь. Заголовок будет выделен жирным шрифтом. Список можно вставить с с помощью разметки
      в описании. <code>&lt;h5&gt;</code> - заголовок карточки, <code>&lt;span&gt;</code> - описание.
      Количество карточек - кратно трем 3/6.</p>
    </li>
    <li>
      <p>Работы студентов. Важно, добавление работы студента возможно только в существующий курс.
      Можно загрузить несколько фотографий с работами студентов, которые будут в карусели Работы студентов.
      Для добавления работы вы кликаете по кнопке, переходите в раздел добавление работы студентта.
      Там выбираете название курса, Имя студента, Описание работы, и фото.</p>
    </li>
    <li>
      <p>Форма для регистрации. Форма уже добавлена, достаточно будет добавить только фото.</p>
    </li>
    <li>
      <p>Мастер. Фото мастера - это большое фото с мастером, которое будет отображено в курсе. Фото работы как
      в дополнение к основному: это маленькое фото работы мастера, которое будет вторым слоем к основному фото мастера</p>
    </li>
    <li>
      <p>Заголовок раздела и мастере и описание. Этот блок заполняем с учетом того, чтобы в заголовке был какой-то
      лозунг с именем и фамилией мастера. Описание: текст про мастера, может состоять из нескольких абзацев</p>
    </li>
    <li>
      <p>Работы мастера. Перед тем как добавить работы мастера, нужно создать самого мастера.
      А так как он привязан к пользователям, нужно чтобы мастер зарегистрировался, после создать мастера,
      после прикрепить этого мастера как ведущего курс. А после этого, добавить его работы в существующий курс.</p>
    </li>
    <li>
      <p>Дата начала и окончания курса обязательны, пока нигде не отражаются, кроме акции. Нужно каждый раз из заполнять
      при создании и изменении курса.</p>
    </li>
    <li>
      <p>Модули. Можно добавить уже существцующие модули в курс, например вводый модуль для всех курсов. Но для
      добавления новых модулей, нужно сначала создать курс а уже к нему добавлять новый модуль в разделе Модули.</p>
    </li>
  </ol>
  <h4>Логика добавления контента в курс:</h4>
  <p>Сначало добавляется Категория. Потом в существующую категорию добавляется курс. Курс состоит из модулей. А модуль состоит из уроков.
  Сначала создаем модуль. Потом создается урок, который добавляется в Модуль. А сам модуль уже добавляется в курс.</p>
  <p>В модуле может быть несколько уроков, модуль - закрытая конструкция которая может быть добавлена в несколько курсов.
  Урок добавляется только в один модуль и не может быть добавлен в несколько модулей.</p>
  <p>Курс можно добавить в несколько категорий.</p>
{% endblock admin_content%}
