{% extends "admin/base.j2" %}

{% block admin_content %}

  <div class="container mb-4">
    <a href="{{ url_for('admin.index') }}" class="btn btn-outline-primary">
      <i class="bi bi-arrow-left"></i> Назад
    </a>
  </div>
  <div class="container mb-4">
  <h2>Статус оплат курсов: пользователи, курсы и даты</h2>
  <table class="table">
    <tr>
      <th>Payment ID</th>
      <th>User ID</th>
      <th>Имя пользователя</th>
      <th>Курс</th>
      <th>Статус оплаты</th>
      <th>Время оплаты</th>
      <th>Подтверждение оплаты</th>
    </tr>
  {% if payments %}
    {% for payment in payments %}
      <tr>
        <td> {{ payment.id }} </td>
        <td> {{ payment.user_id }} </td>
        <td> {{ payment.user.name }} </td>
        <td> {{ payment.course.title }} </td>
        <td> {{ payment.status_payment }}</td>
        <td> {{ payment.datetime_create }} </td>
        <td>{% if payment.status_payment == 0 %}
          <a class="btn btn-primary btn-payment-confirm" href="{{ url_for('admin_courses.change_payment_status', payment_id=payment.id) }}" data-id="{{ payment.id }}">Оплата получена</a>
        {% else %}
          оплачено
        {% endif %}</td>
      </tr>
    {% endfor %}
  {% else %}
      <p>Пока никто ничего не оформлял.</p>
  {% endif %}
    </table>
  </div>
{% endblock admin_content %}

{% block js %}
  <script>
    const btns = document.querySelectorAll('.admin__container .btn-payment-confirm');
    btns.forEach((btn) => {
      btn.addEventListener('click', (evt) => {
        evt.preventDefault();
        const id_payment = evt.currentTarget.dataset.id;
        const url = evt.currentTarget.href;
        fetch(url).then((response) => response.json).then((data) => {
          if (data.status === 'success') {
            evt.currentTarget.remove();
          }
        });
      });
    });
  </script>
{% endblock js %}
