{% extends "base.j2" %}

{% block content %}
  <section class="page pt-5">
    <div class="page__container container pt-5">
      <h2>Ошибка сервера</h2>
      <p>Возникла ошибка, наши специалисты уже работают над решением проблемы.</p>
      <div hidden>{{ error }}</div>
    </div>
  </section>
{% endblock content %}
