{% extends "admin/base.j2" %}
{% from 'macros/form.j2' import base, btn, render_field_errors %}

{% block admin_content %}
  <div class="col-lg-5 ml-auto mb-3">
    <h1>Изменить</h1>
    <form action="{{ url_for('user.edit') }}" method="post">
      {{ form.hidden_tag() }}
      {{ render_field_errors(form.csrf_token) }}
      {{ base(form.username) }}
      {{ base(form.first_name) }}
      {{ base(form.last_name) }}
      {{ base(form.phone) }}
      {{ btn(form.submit) }}
    </form>
  </div>
  <div class="col-lg-5 ml-auto mb-3">
    <a class="btn btn-primary", href="{{ url_for_security('change_password') }}">Изменить пароль</a>
  </div>
{% endblock admin_content %}
