{% extends "admin/base.j2" %}
{%- from "macros/user_menu.j2" import render_user_menu -%}

{% block admin_content %}
        <strong>Фото пользователя</strong>: {{ current_user.userphoto }}
        {% if userphoto %}
          {% set filename = 'upload/%s' % userphoto %}
          <img src="{{ url_for('static', filename=filename) }}" alt="" width="100">
        {% else %}
          Фото не загружено
        {% endif %}
  <div class="container-fluid">
    <div class="row">
      <!-- Левое меню -->
      {{ render_user_menu(user_menu) }}
      <!-- Основной контент -->
      <main class="col-lg-9 ml-auto px-4">
        <h1>Профиль</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for link in user_links %}
              <li class="breadcrumb-item">
                <a href="{{ url_for(link.controller) }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </nav>
        <ul>
          <li>
          <li>
            <strong>Логин</strong>: {{ current_user.username }}
          </li>
          <li>
            <strong>Email</strong>: {{ current_user.email }}
          </li>
          <li>
            <strong>Дата регистрации</strong>: {{ current_user.create_datetime }}
          </li>
          <li>
            <strong>Дата активации</strong>: {{ current_user.confirmed_at }}
          </li>
          <li>
            <strong>Дата правки</strong>: {{ current_user.update_datetime }}
          </li>
          <li>
            <strong>Роли</strong> ({{ current_user.roles | count }}):
            {% for role in current_user.roles %}
                {{ role.name }}
                {% if not loop.last %},{% endif %}
            {% endfor %}
          </li>
        </ul>
        {# <nav>
          {% for link in user_links %}
            <a class="btn btn-primary" href="{{ url_for(link.controller) }}">{{ link.title }}</a>
          {% endfor %}
        </nav> #}
        {# <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for link in user_links %}
              <li class="breadcrumb-item">
                <a href="{{ url_for(link.controller) }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </nav> #}
      </main>
    </div>
</div>
{% endblock admin_content %}
