{% from "macros/generate_page_header.j2" import generate_page_header %}
{% extends "base.j2" %}

{% set page = "about" %}

{% block content %}
  <!-- Page Header Start -->
  {{ generate_page_header(active_item='about') }}
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/about-1.jpg') }}"  alt="" style="object-fit: cover;">
            <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ url_for('static', filename='img/about-2.jpg') }}"  alt="" style="width: 200px; height: 200px;">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h6 class="text-primary text-uppercase mb-2">О нас</h6>
            <h1 class="display-6 mb-4">Добро пожаловать в Мастерскую Творчества!</h1>
            <p>Мы стремимся быть вдохновляющим центром творчества, где студенты могут научиться искусствам ювелирного дела, керамики и обработке кожи в комфортной онлайн среде. </p>
            <p class="mb-4">Наша миссия - поддерживать талантливых творцов, помогая им раскрыть свой потенциал и создавать уникальные произведения искусства.</p>
            <div class="row g-2 mb-4 pb-2">
              <div class="col-sm-6">
                <i class="fa fa-check text-primary me-2"></i> Экспертные преподаватели
              </div>
              <div class="col-sm-6">
                <i class="fa fa-check text-primary me-2"></i>Легкость и доступность
              </div>
              <div class="col-sm-6">
                <i class="fa fa-check text-primary me-2"></i>Гибкий график
              </div>
              <div class="col-sm-6">
                <i class="fa fa-check text-primary me-2"></i>Сообщество единомышленников
              </div>
            </div>
            <div class="row g-4">
              <div class="col-sm-6">
                <a class="btn btn-primary py-3 px-5" href="">Подробнее</a>
              </div>
              <div class="col-sm-6">
                <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:{{ g.contacts.tel }}">
                  <span class="flex-shrink-0 btn-square bg-primary">
                    <i class="fa fa-phone-alt text-white"></i>
                  </span>
                  <span class="px-3">{{ g.contacts.phone }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Team Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Наша команда</h6>
        <h1 class="display-6 mb-4">У нас лучшие мастера своего дела</h1>
      </div>
      <div class="row g-0 team-items">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-1.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Денис Гутов</h5>
              <span>Создатель</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-2.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Юрий Былков</h5>
              <span>Ювелир</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-3.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Ольга Клаечка</h5>
              <span>Керамист</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-4.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Таисия Богатырева</h5>
              <span>Frontent-Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->
{% endblock content %}
