{% extends "base.j2" %}

{% set page = "about" %}

{% block content %}

  <!-- About Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/about-3.jpg') }}"  alt="" style="object-fit: cover;">
            <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ url_for('static', filename='img/about-2.jpg') }}"  alt="" style="width: 200px; height: 200px;">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h6 class="text-primary text-uppercase mb-2">О нас</h6>
            <h1 class="display-6 mb-4">История Класса Труда!</h1>
            <p class="mb-4">Мастерская «Класс Труда» открылась в Санкт-Петербурге весной 2013 года. В самом начале
            идея была простая: помогать всем, кто разделял наше увлечение ручной работой, ремеслами и творчеством.</p>
            <p class="mb-4">Мы предоставляли мастерам доступные и оборудованные рабочие места, избегая дорогих арендных
            платежей за большие помещения, и создавали сообщество, где каждый мог найти свое место.  Вместе с нами многие
            наши ученики и резиденты росли и развивались, создавали свои собственные мастерские, объединялись в команды
            и развивали свой творческий бизнес.</p>
            <p class="mb-4">Мастера могли не только работать, но и делиться своим  опытом и знаниями с другими. В
            мастерской Класс Труда мы организовали и провели сотни мастер-классов и курсов, чтобы научить всех желающих
            навыкам ручного труда в различных ремеслах: столярное дело, работа с кожей, керамикой, ювелирное дело и других.</p>
            <p class="mb-4">Одним из значительных вкладов мастерской стало активное участие в городских мероприятиях и
            фестивалях: Geek Picnic, VK Fest, День яблок, Stereoleto, где команда мастеров продвигала культуру ручного
            труда и ремесленного искусства среди широкой аудитории​</p>
            <p class="mb-4">С 2020 года мы активно развиваем онлайн-направление и проводим как групповые так и индивидуальные
            занятия и мастер-классы онлайн. Лучшие из них вы можете найти на этом сайте. В 2022 году мы закрыли физическую
            мастерскую в Санкт-Петербурге и сосредоточились на развитии онлайн продуктов. Сегодня находясь в любой точке
            мира, вы можете присоединиться к нашему сообществу и раскрыть свой творческий потенциал, погрузиться в уникальный
            мир рукоделия и мастерства.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


    <!-- Team Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Наша команда</h6>
        <h1 class="display-6 mb-4">Мастера своего дела</h1>
      </div>
      <div class="row g-0 team-items">
       {% for artist in featured_artists %}
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative">
            <div class="position-relative">
            {% if artist.avatar %}
              {{ picture(
                class_name='img-fluid',
                file_name='upload/%s' % artist.avatar,
                alt='Изображение для курсов %s' % artist.first_name,
                width=600,
                height=600,
                bp_tablet=834,
                width_tablet=800,
                height_tablet=800,
                bp_desktop=1440,
                width_desktop=800,
                height_desktop=800
              ) }}
            {% else %}
              {{ picture(
                class_name='img-fluid',
                file_name='img/jewelry-1.jpg',
                alt='Логотип',
                width=600,
                height=600,
                bp_tablet=834,
                width_tablet=800,
                height_tablet=800,
                bp_desktop=1440,
                width_desktop=800,
                height_desktop=800
              ) }}
            {% endif %}
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="{{ artist.facebook }}"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="{{ artist.vkontakte }}"><i class="fab fa-vk"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="{{ artist.instagram }}"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">{{ artist.first_name }} {{ artist.last_name }}</h5>
              <span>{{ artist.profession }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-1.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.facebook.com/denisgutov"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://vk.com/denisgutov"><i class="fab fa-vk"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.instagram.com/denisgutov/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Денис Гутов</h5>
              <span>Продюсер</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-2.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.facebook.com/yura.bylkov"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://vk.com/ybylkov"><i class="fab fa-vk"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.instagram.com/bylkov/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Юрий Былков</h5>
              <span>Ювелир</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-3.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.facebook.com/muravieshko"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://vk.com/klaechka"><i class="fab fa-vk"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.instagram.com/farforstylespb/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Ольга Клаечка</h5>
              <span>Керамист</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="{{ url_for('static', filename='img/team-4.jpg') }}"  alt="">
              <div class="team-social text-center">
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.facebook.com/taisiya.bogatyreva/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://vk.com/bogatyrevata"><i class="fab fa-vk"></i></a>
                <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.instagram.com/bogatyreva.taisiya/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="bg-light text-center p-4">
              <h5 class="mt-2">Таисия Богатырева</h5>
              <span>Кожевник</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->

  <!-- Testimonial Start -->
    <div class="container-xxl py-6">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Отзывы</h6>
        <h1 class="display-6 mb-4">Что пишут о нас ученики</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">За непродолжительное время я научился основным навыкам и техникам и сделал несколько изделий о которых раньше и думать не мог. Однозначно я доволен курсом. Спасибо огромное Юра и Класс Труда.</p>
              <hr class="w-25 mx-auto">
              <h5>Равиль Хафизов</h5>
              <span>Ювелирный курс</span>
            </div>
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">На курсе я узнала для себя много нового, а также подкорректировала знания о уже знакомых техниках. Я впервые работала с серебряным припоем, перестала бояться паять дома, попробовала крапановую закрепку, научилась делать крепление и иглу для брошей, попробовала делать штифтовые соединения. Очень удобный формат курса, все доступно, понятно и интересно.</p>
              <hr class="w-25 mx-auto">
              <h5>Валерия Скоморохова</h5>
              <span>Ювелирный курс</span>
            </div>
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">Для меня это большой шаг вперед. Буквально распахнулись просторы для творчества. Спасибо за обстоятельное и подробное объяснение азов мастерства. Грустно, что всё когда-то заканчивается, и курс тоже подошёл к концу. Желаю вам рукастеньких и благодарных учеников, и, конечно, творческих идей и успехов!</p>
              <hr class="w-25 mx-auto">
              <h5>Инна Калечиц</h5>
              <span>Ювелирный курс</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
{% endblock content %}
