{% extends "base.j2" %}

{% set page = "feature" %}

{% block content %}
 <!-- Features Start -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-primary text-uppercase mb-2">Почемы мы?</h6>
          <h1 class="display-6 mb-4">Опыт и креативность.</h1>
          <p class="mb-5"> Более десяти лет мы обучаем людей различным видам ремесла и ручной работы. Взрослые и дети,
          новички и опытные - для всех, кто хочет научиться делать что-то своими руками у нас найдутся полезные и
          эффективные мастер-классы и курсы. Мир творчества доступен каждому.</p>
          <div class="row gy-5 gx-4">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0 btn-square bg-primary me-3">
                  <i class="fa fa-check text-white"></i>
                </div>
                <h5 class="mb-0">Мастерство и опыт</h5>
              </div>
              <span>Наши преподаватели - опытные мастера своего дела. Они не просто передают знания, а делают это с любовью к своему ремеслу.</span>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0 btn-square bg-primary me-3">
                  <i class="fa fa-check text-white"></i>
                </div>
                <h5 class="mb-0">Индивидуальный подход</h5>
              </div>
              <span>Наши занятия разработаны так, чтобы каждый мог развиваться в соответствии со своим темпом и творческим потенциалом.</span>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0 btn-square bg-primary me-3">
                  <i class="fa fa-check text-white"></i>
                </div>
                <h5 class="mb-0">Практическое обучение</h5>
              </div>
              <span>Все курсы и мастер-классы включают не только теорию, но и максимальный объем практики. После занятий у
              каждого ученика будут устойчивые навыки работы своими руками.</span>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0 btn-square bg-primary me-3">
                  <i class="fa fa-check text-white"></i>
                </div>
                <h5 class="mb-0">Творческое сообщество</h5>
              </div>
              <span>Для творческой личности очень важна поддержка. В нашем сообществе мастеров и учеников любой
              получит помощь, полезные советы и вдохновение от единомышленников.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/about-1.jpg') }}"  alt="" style="object-fit: cover;">
            <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="{{ url_for('static', filename='img/about-2.jpg') }}"  alt="" style="width: 200px; height: 200px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->
{% endblock content %}
