{% from "macros/generate_page_header.j2" import generate_page_header %}
{% extends "base.j2" %}

{% set page = "legal-info" %}

{% block content %}
  <!-- Page Header Start -->
  {{ generate_page_header(active_item='legal-info') }}
  <!-- Page Header End -->
{% endblock content %}
