{% from "macros/generate_page_header.j2" import generate_page_header %}
{% extends "base.j2" %}

{% set page = "legal-info" %}

{% block content %}
  <!-- Page Header Start -->
  {{ generate_page_header(active_item='legal-info') }}
  <!-- Page Header End -->

  <!-- Legal Info -->
  <div class="container-xxl py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-primary text-uppercase mb-2">Защита и прозрачность</h6>
          <h1 class="display-6 mb-4">Юридическая информация</h1>
          <p>Добро пожаловать в раздел юридической информации онлайн-школы "Класс Труда". Мы ценим ваше доверие и стремимся обеспечить полную прозрачность и безопасность в предоставлении образовательных услуг. Ниже приведены основные аспекты, касающиеся юридической стороны нашей деятельности.</p>
          <ol>
            <li>
              <p>Пользовательское соглашение</p>
              <p>Пользуясь услугами нашей школы, вы автоматически соглашаетесь с условиями нашего Пользовательского
              соглашения. В нем содержатся правила использования нашего сайта, обязанности пользователей и права
              администрации школы.</p>
            </li>
            <li>
              <p>Защита информации и конфиденциальность</p>
              <p>Мы придаем большое значение защите вашей личной информации и конфиденциальности данных. Все
              персональные данные, которые вы предоставляете нам при регистрации или в ходе обучения, хранятся в
              безопасности и используются исключительно для целей обучения. Мы строго соблюдаем законы о защите
              персональных данных и не передаем вашу информацию третьим лицам без вашего согласия.</p>
            </li>
            <li>
              <p>Политика конфиденциальности</p>
              <p>"Класс Труда" ценит вашу конфиденциальность и обязуется защищать ваши личные данные. Мы собираем
              только ту информацию, которая необходима для оказания качественных образовательных услуг. Все данные,
              которые вы предоставляете нам, хранятся в безопасности и используются исключительно в рамках нашей
              образовательной деятельности.</p>
              <p>Мы строго соблюдаем законы о защите персональных данных и не передаем вашу информацию третьим лицам
              без вашего согласия. Подробная информация о том, как мы собираем, используем и защищаем ваши данные,
              содержится в нашей Политике Конфиденциальности. Мы делаем все возможное, чтобы обеспечить безопасность
              вашей личной информации и поддерживать ваше доверие к нашей онлайн-школе "Класс Труда".</p>
            </li>
            <li>
              <p>Авторские права</p>
              <p>Все материалы, размещенные на нашем сайте, защищены авторским правом. Их использование или
              распространение без письменного согласия администрации школы запрещено и может повлечь за собой
              юридическую ответственность в соответствии с действующим законодательством.</p>
            </li>
            <li>
              <p>Отказ от ответственности</p>
              <p>Администрация школы прикладывает все усилия для обеспечения точности и актуальности предоставляемой
              информации. Однако мы не несем ответственности за возможные ошибки или неточности в материалах.
              Мы оставляем за собой право вносить изменения в учебные программы и расписание занятий без
              предварительного уведомления.</p>
            </li>
            <li>
              <p>Контакты</p>
              <p>Если у вас возникли вопросы по юридическим аспектам обучения в нашей школе или вы хотели бы получить
              дополнительную информацию, не стесняйтесь обращаться к нам. Вы можете связаться с нами написав в разделе Напишите нам.</p>
            </li>
          </ol>
          <p>Мы ценим ваше внимание к нашей юридической информации и стремимся к тому, чтобы ваше обучение в
          школе "Класс Труда" было комфортным, безопасным и эффективным.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Legal Info -->
{% endblock content %}
