{% extends "base.j2" %}
{% from "macros/form.j2" import input_form_6, input_form_12 %}
{% set page = "payment" %}

{% block content %}
<div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
      <div class="row g-5">
         <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <h6 class="text-primary text-uppercase mb-2">Регистрация и оплата курса</h6>
                <h1 class="display-12 mb-4">Оформление заявки на курс</h1>
                <p>Пожалуйста, заполните форму, чтобы выбрать курс, тариф и способ оплаты. После отправки заявки мы свяжемся с вами для уточнения деталей и отправим реквизиты для оплаты.</p>
            </div>
        <div class="row g-4 justify-content-center">
          <div class="col-lg-8 mb-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary text-center p-5">
              <h1 class="mb-4">Выберите курс и способ оплаты</h1>
              <form action="{{ url_for('course.form_payment') }}", method="post" novalidate>
                <div class="row g-3">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  {{ input_form_6(form.name) }}
                  {{ input_form_6(form.email) }}
                  {{ input_form_12(form.course_title) }}
                  {{ input_form_12(form.price) }}

                  <!-- Honeypot поле -->
                  <input type="text" name="hidden_field" style="display:none;" autocomplete="off">

                  <!-- Скрытое поле для временной метки -->
                  <input type="hidden" id="form_time" name="form_time" value="">

                  <div class="col-12 text-center">
                    <label class="form-label">Способ оплаты</label>
                    <div class="d-flex justify-content-center gap-5">
                      {% for subfield in form.payment_method %}
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            id="payment-{{ subfield.data }}"
                            name="{{ subfield.name }}"
                            value="{{ subfield.data }}"
                            {% if subfield.checked %}checked{% endif %}
                          >
                          <label class="form-check-label" for="payment-{{ subfield.data }}">
                            {{ subfield.label.text }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-dark w-100 py-3" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 mt-3">
            <a href="{{ url_for('core.page', page_name='privacy')}}">*Политика конфиденциальности</a>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
