{% from "macros/generate_page_header.j2" import generate_page_header %}
{% extends "base.j2" %}

{% set page = "testimonial" %}

{% block content %}
  <!-- Page Header Start -->
  {{ generate_page_header(active_item='testimonial') }}
  <!-- Page Header End -->


<!-- Testimonial Start -->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="сфд-дп-10 text-primary text-uppercase mb-2">Отзывы</h6>
      <h1 class="display-6 mb-4">Что пишут о нас ученики</h1>
    </div>
  </div>
</div>
<!-- testimonial 1 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-hafiz-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-hafiz-2.jpg') }}"  alt="">
              </div>
              <h5>Подвеска, глухая закрепка</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-hafiz-3.jpg') }}"  alt="">
              </div>
              <h5>Брошь</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-hafiz-4.jpg') }}"  alt="">
              </div>
              <h5>Ручка ручной работы</h5>
              <span>Материал: металл, дерево</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Равиль Хафизов</h1>
          <p class="fs-4">За непродолжительное время я научился основным навыкам и техникам и сделал несколько изделий о которых
          раньше и думать не мог. Однозначно я доволен курсом. Спасибо огромное Юра и Класс Труда.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 1 end-->
<!-- testimonial 2 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-mikhailova-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-mikhailova-2.jpg') }}"  alt="">
              </div>
              <h5>Серьги, английский замок</h5>
              <span>Материал: медь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-mikhailova-3.jpg') }}"  alt="">
              </div>
              <h5>Брошь</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-mikhailova-4.jpg') }}"  alt="">
              </div>
              <h5>Набор украшений с обручальным кольцом</h5>
              <span>Материал: медь, латунь</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Дарья Михайлова</h1>
          <p class="fs-4">По окончании онлайн-курса Ювелирное мастерство выражаю благодарность создателям и учителям
          Юре Былкову и Денису Гутову. То, что предоставленные материалы бесценны для начинающих - это факт, но простота общения и
          благожелательность ребят - это просто праздник. Большинство мастеров даже разговаривать не будут с дилетантами, а не то
          что секретами делиться. После полученных знаний окрыляет чувство, как в детстве, когда на велике научился, хочется гонять
          и гонять. Маленькая сокровищница у меня, но есть огромное желание её пополнять!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 2 end-->
<!-- testimonial 3 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-prokopenko-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-prokopenko-2.jpg') }}"  alt="">
              </div>
              <h5>Кольцо с гранями</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-prokopenko-3.jpg') }}"  alt="">
              </div>
              <h5>Кольцо мятое</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-prokopenko-4.jpg') }}"  alt="">
              </div>
              <h5>Брошь, глухая закрепка</h5>
              <span>Материал: серебро</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Ксения Прокопенко</h1>
          <p class="fs-4">Спасибо огромное Юрию за полезную информацию и лайфхаки. За харизму и творческую атмосферу! Денису
          спасибо за внимание к деталям. Очень рада что оказалась у вас на курсе. Надеюсь в будущем будет чем радовать
          нашего Учителя  Удачи всем участникам курса, было приятно общаться, надеюсь на продолжение дружбы.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 3 end-->
<!-- testimonial 4 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-2.jpg') }}"  alt="">
              </div>
              <h5>Кольцо обручальное</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-3.jpg') }}"  alt="">
              </div>
              <h5>Кольцо</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-4.jpg') }}"  alt="">
              </div>
              <h5>Брошь</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-5.jpg') }}"  alt="">
              </div>
              <h5>Кольцо из двух металлов</h5>
              <span>Материал: серебро, латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-obraztsova-6.jpg') }}"  alt="">
              </div>
              <h5>Кольцо</h5>
              <span>Материал: латунь, дерево</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Татьяна Образцова</h1>
          <p class="fs-4">Хочу сказать огромное спасибо! Я сегодня испытала такие же чувства, как: первый раз сесть за руль и
          поехать, первое самостоятельное путешествие, первый поцелуй. Это мое первое кольцо. Точнее это вообще первое, что я
          делала сама из «ювелирного». Сегодня было много что я делала первый раз. И держала в первый раз в руках! Конечно
          кольцо не идеально. Но оно идеально для меня. И я счастлива! Спасибо огромное за этот подарок.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 4 end-->
<!-- testimonial 5 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-nikiforov-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-nikiforov-2.jpg') }}"  alt="">
              </div>
              <h5>Кольцо, крапановая закрепка</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-nikiforov-3.jpg') }}"  alt="">
              </div>
              <h5>Кольцо, крапановая закрепка</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-nikiforov-4.jpg') }}"  alt="">
              </div>
              <h5>Кольцо</h5>
              <span>Материал: латунь</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Егор Никифоров</h1>
          <p class="fs-4">Спасибо за полученные знания, на прошлой неделе меня заметили в моём городе и теперь я работаю в
          ювелирном цехе. Полученных знаний хватило что бы пройти тест. Теперь буду учится у мастера со стажем работы 30лет.
          Еще раз огромное спасибо.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 5 end-->
<!-- testimonial 6 start-->
<div class="container-xxl py-4 mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 500px;">
        <div class="owl-carousel workphoto-single-carousel">
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-melnichenko-1.jpg') }}"  alt="">
              </div>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-melnichenko-2.jpg') }}"  alt="">
              </div>
              <h5>Брошь</h5>
              <span>Материал: латунь</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-melnichenko-3.jpg') }}"  alt="">
              </div>
              <h5>Подвеска</h5>
              <span>Материал: серебро</span>
            </div>
            <div class="workphoto-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/testimonial-melnichenko-4.jpg') }}"  alt="">
              </div>
              <h5>Кольца, литье</h5>
              <span>Материал: серебро</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">Отзыв ученика</h6>
          <h1 class="display-6 mb-4">Антонина Мельниченко</h1>
          <p class="fs-4">Юра и Денис, спасибо большое! Большое за курс. Я узнала много разных полезных тонкостей. Весь
          материал пересмотрела. Еще не все успела опробовать, но обязательно буду продолжать. Спасибо, что не жалели и
          делились видео с предыдущих потоков. У вас отличная база для новичков с минимумом инструментов.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial 6 end-->
<!-- testimonial end-->
{% endblock content %}
