{% from "macros/generate_page_header.j2" import generate_page_header %}
{% extends "base.j2" %}

{% set page = "testimonial" %}

{% block content %}
  <!-- Page Header Start -->
  {{ generate_page_header(active_item='testimonial') }}
  <!-- Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-6">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">Отзывы</h6>
        <h1 class="display-6 mb-4">Что пишут о нас ученики</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">За непродолжительное время я научился основным навыкам и техникам и сделал несколько изделий о которых раньше и думать не мог. Однозначно я доволен курсом. Спасибо огромное Юра и Класс Труда.</p>
              <hr class="w-25 mx-auto">
              <h5>Равиль Хафизов</h5>
              <span>Профессия</span>
            </div>
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">На курсе я узнала для себя много нового, а также подкорректировала знания о уже знакомых техниках. Я впервые работала с серебряным припоем, перестала бояться паять дома, попробовала крапановую закрепку, научилась делать крепление и иглу для брошей, попробовала делать штифтовые соединения. Очень удобный формат курса, все доступно, понятно и интересно.</p>
              <hr class="w-25 mx-auto">
              <h5>Валерия Скоморохова</h5>
              <span>Профессия</span>
            </div>
            <div class="testimonial-item text-center">
              <div class="position-relative mb-5">
                <img class="img-fluid rounded-circle mx-auto" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}"  alt="">
                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                  <i class="fa fa-quote-left fa-2x text-primary"></i>
                </div>
              </div>
              <p class="fs-4">Для меня это большой шаг вперед. Буквально распахнулись просторы для творчества. Спасибо за обстоятельное и подробное объяснение азов мастерства. Грустно, что всё когда-то заканчивается, и курс тоже подошёл к концу. Желаю вам рукастеньких и благодарных учеников, и, конечно, творческих идей и успехов!</p>
              <hr class="w-25 mx-auto">
              <h5>Инна Калечиц</h5>
              <span>Профессия</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
{% endblock content %}
