{% macro admin_breadcrumbs(active_item='index') %}
  <div class="container-fluid page-header py-6 my-4 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
    {% set title = g.breadcrumbs | map(attribute='title') | first %}
      {% if title %}
        <h1 class="display-4 text-white animated slideInDown mb-4">{{ title }}</h1>
      {% endif %}
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          {% for breadcrumb in g.breadcrumbs %}
            <li class="breadcrumb-item"><a class="text-white"{% if breadcrumb.controller %} href="{{ url_for(breadcrumb.controller) }}"{% endif %}>{{ breadcrumb.title }}</a></li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
{% endmacro %}
