{% macro generate_page_header(active_item='index') %}
  {% set title = g.menu | selectattr('href', '==', active_item) | map(attribute='title') | first %}
  <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
      {% for item in g.menu %}
        {% if item.submenu %}
          {% for sub_item in item.submenu %}
            {% if sub_item.href == active_item %}
              <h1 class="display-4 text-white animated slideInDown mb-4">{{ sub_item.title }}</h1>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if title %}
        <h1 class="display-4 text-white animated slideInDown mb-4">{{ title }}</h1>
      {% endif %}
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="#">Главная</a></li>
          <li class="breadcrumb-item"><a class="text-white" href="#">Страницы</a></li>
          {% for item in g.menu %}
            {% if item.submenu %}
              {% for sub_item in item.submenu %}
                {% if sub_item.href == active_item %}
                  <li class="breadcrumb-item text-primary active" aria-current="page">{{ sub_item.title }}</li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% if title %}
            <li class="breadcrumb-item text-primary active" aria-current="page">{{ title }}</li>
          {% endif %}
        </ol>
      </nav>
    </div>
  </div>
{% endmacro %}
